<div class="detail" *ngIf="user">
    <div class="header">
        <div (click)="activeTab = 1" [ngClass]="{'active': activeTab === 1}">General</div>
        <div (click)="activeTab = 2" [ngClass]="{'active': activeTab === 2}">Club</div>
        <div class="close"><i class="material-icons" (click)="close()">&#xE5CD;</i></div>
    </div>

    <div class="content">
        <div [ngClass]="{'warning': !user.name || user.name.length === 0}">
            <div>First Name</div>
            <input type="text" [(ngModel)]="user.name">
        </div>
        <div [ngClass]="{'warning': !user.phone || user.phone.length === 0}">
            <div>Phone Number</div>
            <input type="text" [(ngModel)]="user.phone">
        </div>
        <div>
            <div>Birth Date</div>
            <input type="text" [(ngModel)]="user.birth_date">
        </div>
        <div [ngClass]="{'warning': !user.sex}">
            <div>Sex</div>
            <!--<input type="text" [(ngModel)]="user.sex">-->
            <select #sex (change)="user.sex = sex.value">
                <option value="male" [selected]="user.sex === male">male</option>
                <option value="female" [selected]="user.sex === female">female</option>
            </select>
        </div>
        <div [ngClass]="{'warning': !user.role}">
            <div>Role</div>
            <!--<input type="text" [(ngModel)]="user.role">-->
            <select #role (change)="user.role = role.value">
                <option value="admin" [selected]="user.role === admin">admin</option>
                <option value="moderator" [selected]="user.role === moderator">moderator</option>
                <option value="user" [selected]="user.role === user">user</option>
            </select>
        </div>
    </div>

    <div class="save" (click)="saveChanges()">Save Changes</div>
</div>